{% extends "index.html" %}
{% load static %}
{% block title %}SignUp{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="signup_form">
    <div class="Login">
        <h1 id='login_heading'>Sign Up</h1>
        <form method="post" class="userform">
            {% csrf_token %}
            {% for i in messages %}
            {{i}}
            {% endfor %}
            <div>
            <input type="text" placeholder="Username" name="username" required>
            </div>
            <input type="text" placeholder="First Name" name="first_name" required>
            <input type="text" placeholder="Last Name" name="last_name" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Re-enter Password" name="Vpassword" required>
            <button id="signup-btn">SignUp</button>
            <a href="{% url 'Login' %}">Have an account?</a>
        </form>
    </div>
</div>
{% endblock %}