{% extends 'index.html' %}
{% block content %}

<div class="reset-field container" style="padding-top:100px;text-align: center;line-height: 2.4;">
<h1>Reset your Password</h1>
<p>Forgot your password? Please enter your email address and follow the instructions in the email to reset your password</p>
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Send email" class="btn btn-primary" style='background:#1b8494;width:80px;height:30px;border-radius:20px;cursor: pointer;'>
</form>
</div>

{% endblock %}